version 5.216.0
source https://www.nuget.org/api/v2

storage:none
framework: net46
nuget FSharp.Core redirects:force
nuget Newtonsoft.Json >= 11.0.2 lowest_matching:true
nuget Expecto
nuget Fable.Core ~> 3 framework: netstandard2.0
nuget Microsoft.AspNet.WebApi.Client ~> 5.2.3.0
nuget Thoth.Json.Net
